<% include partials/header %>

<% if (isCorrectAnswer) {%>
<h1 id="message_congratulation"> The answer is correct. CONGRATULATIONS !!! </h1>
<% } else{ %>
   <% if (answerSubmitted !== undefined) {%>
<h1 id="message_wrong_answer"> <%= answerSubmitted %> is not the correct answer </h1>
<% } %>

<h1 > The correct answer is  </h1>

<h2 id="correct_answer"> <%= correctAnswer %> </h2>
<% }%>

<% if (isLastQuestionAsked) {%>

  <form action="/score"   method = "post" >
      <input type="submit" name="show_score" value="Show Score" id="show_score" />
  </form>

<% } else{ %>

  <form action = <%= nextQuestionRoute %>   method = "post" >
      <input type="submit" name="startGame" value="Next Question" id="next_question" />
  </form>

<% }%>

<% include partials/footer %>
