
<% include partials/header %>

<h1>Start the game by clicking on the button</h1>
<form action = "/play/0" method = "post">
    <input type="submit" name="startGame" value="Start Game" />
</form>


<% include partials/footer %>
