
<% include partials/header %>

<div class="photo" style="background-image:url(/images/quiz.png);"></div>

<form action = "/play/0" method = "post" class="center">
    <input type="submit" name="startGame" value="Start Game" />
</form>


<% include partials/footer %>
